.filters{
    padding: 1%;
    .reset-link{
        display: flex;
        justify-content: space-between;
        background-color:  rgba($brand-color2, $alpha: 0.4);
        padding: 5%;
       
    }
   
}