.filters{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
    width: 25%;
    color: $color-additional;

    @media screen and (max-width: 1000px) {
       width: 70%;
    }

    .reset-link{
        display: flex;
        justify-content: space-between;
        padding: 1%;
       
    }
    .filter{
        display: flex;
        flex-direction: column;
        font-weight: 300;
        

        .subtitle{
            background-color:  rgba($brand-color2, $alpha: 0.4);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 500;
            text-align: center;
            padding: 2%;
            margin-bottom: 0;
        }
        .list{
            .checkbox-line{
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                
                .wrapper_checkbox {
                    display: flex;
                    gap: 1rem;
                }

                @media screen and (max-width: 1000px) {
                    margin: 0 auto;
                }
                
            }
        }

        
    }
   
}

.filter_stock,
.filter_price {
    margin-bottom: 3em;
}

.data-filter {
    font-size: 2rem;
    @media screen and (max-width: 1000px) {
    font-size: 2rem;
    }
}

.checkbox-line__checkbox{
    width: 2rem;
    height: 2rem;
    cursor: grab;
    &:checked{
        background-color: $color-button-hover;
    }
}

.checked{
    background-color: $color-button-hover;
    font-weight: 700;
}