.button{
    color: $color-white;
    padding: 2%;
    font-size: 2rem;
    border-style: none;
    font-weight: 300;
    cursor: pointer;
    border-radius: 0%;
    background-color: $color-additional;
    &:hover{
        background-color: $brand-color2;
        color: $color-text-dark;
        font-weight: 400;
    }
}

.button_reset{
    color: $color-buttons;
}

.button_link{
    color: $color-button-hover;
}