.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.p_wrapper {
  height: 260px;
  width: 320px;
  margin: 6px 10px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.p_product-img {
  float: left;
  height: 260px;
  width: 120px;
}

.p_product-img img {
  border-radius: 7px 0 0 7px;
}

.p_product-info {
  float: left;
  height: 260px;
  width: 200px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.p_product-text {
  height: 100px;
  width: 150px;
}

.p_product-text h1 {
  margin: 0px 9px 14px;
  padding-top: 10px;
  font-size: 15px;
  color: #474747;
}

.p_product-text h1,
.p_product-price-btn p {
  font-family: 'Bentham', serif;
}

.p_product-text h2 {
  margin: 0 0 10px 10px;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.p_product-text p {
  height: 150px;
  margin: 0 0 0 24px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.p_product-price-btn {
  height: 55px;
  width: 150px;
  margin-top: 108px;
  margin-left: 20px;
  position: relative;
}

.p_product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 19px;
  font-size: 14px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 25px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.p_product-price-btn button {
  float: right;
  display: inline-block;
  height: 25px;
  width: 70px;
  margin: 10px 5px 4px 0px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 7px;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #d6360f;
  cursor: pointer;
  outline: none;
}

.p_sm_product-price-btn button:hover {
  background-color: #fddf19;
}


.p_sm_wrapper {
  height: 220px;
  width: 160px;
  margin: 6px 5px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.p_sm_product-img {
  float: left;
  height: 90px;
  width: 160px;
}

.p_sm_product-img img {
  border-radius: 7px 7px 7px 7px;
}

.p_sm_product-text {
  height: 100px;
  width: 160px;
}

.p_sm_product-text h1 {
  margin: 0px 9px 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  color: #474747;
}

.p_sm_product-text h1,
.p_sm_product-price-btn p {
  font-family: 'Bentham', serif;
  font-size: 16px;
}

.p_sm_product-price-btn {
  height: 55px;
  width: 150px;
  margin-top: -141px;
  margin-left: 5px;
  position: relative;
}

.p_sm_product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 19px;
  font-size: 14px;
  font-weight: lighter;
  color: #474747;
}

.p_sm_product-price-btn button {
  float: right;
  display: inline-block;
  height: 25px;
  width: 70px;
  margin: 10px 5px 4px 0px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 7px;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #d6360f;
  cursor: pointer;
  outline: none;
}
