$color-primary: #f0c592;
$color-additional: #131212;
$color-buttons: #c93a3d;
$color-button-hover: #1e797f;
$color-categories: #1e797f;
$color-button-active: #f0c592;
$color-text-dark: #333B41;
$color-white: #FFFFFF;
$color-text-light: #F1F3F2;