$color-primary:#dbf0db;
$color-additional: #242424;
$brand-color: #333333;
$brand-color2: #e9e9e3;

$color-buttons: #d6360f;
$color-button-hover: #fddf19;

$color-text-dark: #333B41;
$color-white: #FFFFFF;
$color-text-light: #F1F3F2;